{
    "isBrowser" : false,
    "project" : "KickCity",
    "apiKey": "TEST-APIKEY",
    "transport" : null,
    "baseUrl": "http://root.flyber.net",
    "returnUrl" : "https://bs-snov-askucher.c9users.io/reset/index.html",
    "confirmUrl" : "https://bs-snov-askucher.c9users.io/confirm-email/index.html",
    "requestLimits": {
        "burst": 5, 
        "limit": 5,
        "maxexpiry" : 30,
        "errormessage" : "Too much requests. Please do not request the server for a while in order to be unblocked"
    },
    "performance" : {
        "keepStaticInMemory" : true,
        "useDdosProtection" : true,
        "requireRequestPayment" : true
    },
    "server" : {
        "port": 80,
        "static": {
            "maxAge" : 31536000
        }
    }
}