footer
  .text-center.info-text {{  'To the extent the Tokens sold in connection with this Token Sale may be securities under U.S. Securities Act of 1933, these Tokens are offered only outside of the United States to non-U.S. persons, pursuant to the provisions of Regulation S of the U.S. Securities Act of 1933, as amended.  These Tokens will not be registered under the Securities Act, and may not be offered or sold in the United States absent registration or as applicable exemption from the registration requirements' | translate }}
  .text-center {{ 'Copyright © Snovio Ltd. 2017' | translate }}
  .clearfix