.x_panel.transaction-history(ng:show="show.history != false")
  .x_title
    h2 {{ 'Your transaction history' | translate }}
    ul.nav.navbar-right.panel_toolbox
      li
        a.collapse-link(ng:click="collapse.history = !(collapse.history)")
          i.fa.fa-chevron-up(ng:hide="collapse.history")
          i.fa.fa-chevron-down(ng:show="collapse.history")
      li
        a.close-link(ng:click="show.history = false")
          i.fa.fa-close
    .clearfix
  .x_content(ng:hide="collapse.history")
    #datatable_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
      table#datatable-checkbox.table.table-striped.bulk_action(role='grid', aria-describedby='datatable-checkbox_info')
        thead
          tr
            th {{ 'Date' | translate }}
            th {{ 'Transaction ID' | translate }}
            th {{ 'From address' | translate }}
            th {{ 'Amount sent' | translate }}
            th {{ 'SNOV tokens' | translate }}
        tbody
          tr(ng:repeat="row in model.transactions")
            th(scope='row') {{row.date | date: 'dd/MM/yyyy hh:mm'}}
            td
              a(href='{{row.url}}') {{row.tx | shorten_tx}}
            td {{row.address}}
            td {{row.assigned}} {{row.token}}
            td {{row.assignedTokens}}
          tr(ng:if="model.transactions.length === 0")
            td(colspan="5") {{ 'There are no transactions yet' | translate }}