doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title {{ 'ICO snovio dashboard' | translate }} 
    // Bootstrap
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
    // NProgress
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css')
    // bootstrap-progressbar
    link(rel='stylesheet prefetch', href='./bootstrap-progressbar.css')
    // countdown
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.css')
    link(rel='stylesheet prefetch', href='./countdown.css')
    // Custom ICO Style
    link(rel='stylesheet', href='./style.css')
  body.nav-md
    .full-container.body
      .main_container
        // top navigation
        .top_nav
          .nav_menu
            nav
              .allert-box
                | {{ 'Thank you for registration. Please' | translate }}
                a(href='#') {{ 'confirm your email' | translate }}
              a.navbar-brand.page-scroll(href='index.html')
                img.logo(src='https://snov.io/assets/img/logo-white.svg', alt='Snov.io')
              ul.nav.navbar-nav.navbar-right
                li.dropdown.language-picker
                  a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-expanded='false')
                    | {{ 'En' | translate }}
                    span.fa.fa-angle-down
                  ul.dropdown-menu.pull-right
                    li
                      a(href='/ru/') {{ 'Ru' | translate }}
                    li.current
                      a(href='/') {{ 'En' | translate }}
                li
                  a.user-profile.dropdown-toggle(href='', data-toggle='dropdown', aria-expanded='false')
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='profile.html')  {{ 'Profile' | translate }}
                    li
                      a(href='settings.html') {{ 'Settings' | translate }}
                    li
                      a(href='login.html')
                        i.fa.fa-sign-out.pull-right
                        |  {{ 'Log Out' | translate }}
                li.dropdown(role='presentation')
                  a.dropdown-toggle.info-number(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    i.fa.fa-envelope-o
                    span.badge.bg-orange 6
                  ul#menu1.dropdown-menu.list-unstyled.msg_list(role='menu')
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      .text-center
                        a
                          strong {{ 'See All Alerts' | translate }}
                          i.fa.fa-angle-right
        // /top navigation
        // page content
        .container(role='main')
          div
            .row
              .col-md-9.col-sm-9.col-xs-12
                .x_panel.counter
                  .x_title
                    h2 {{ 'Crowdsale starts in' | translate }}
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    .countdown.countdown-container.col-md-10.col-md-offset-1.col-xs-12(data-border-color='rgba(0, 0, 0, .8)')
                      .clock
                        .clock-item.clock-days.countdown-time-value.col-xs-3.col-sm-3.col-md-3
                          .wrap
                            .inner
                              #canvas-days.clock-canvas
                              .text
                                p.val 0
                                p.type-days.type-time {{ 'Days' | translate }}
                              // /.text
                            // /.inner
                          // /.wrap
                        // /.clock-item
                        .clock-item.clock-hours.countdown-time-value.col-xs-3.col-sm-3.col-md-3
                          .wrap
                            .inner
                              #canvas-hours.clock-canvas
                              .text
                                p.val 0
                                p.type-hours.type-time {{ 'Days' | translate }}
                              // /.text
                            // /.inner
                          // /.wrap
                        // /.clock-item
                        .clock-item.clock-minutes.countdown-time-value.col-xs-3.col-sm-3.col-md-3
                          .wrap
                            .inner
                              #canvas-minutes.clock-canvas
                              .text
                                p.val 0
                                p.type-minutes.type-time {{ 'Minutes' | translate }}
                              // /.text
                            // /.inner
                          // /.wrap
                        // /.clock-item
                        .clock-item.clock-seconds.countdown-time-value.col-xs-3.col-sm-3.col-md-3
                          .wrap
                            .inner
                              #canvas-seconds.clock-canvas
                              .text
                                p.val 0
                                p.type-seconds.type-time {{ 'Seconds' | translate }}
                              // /.text
                            // /.inner
                          // /.wrap
                        // /.clock-item
                      // /.clock
                    // /.countdown-wrapper
                    .clearfix
                .x_panel.saleprogress
                  .x_title
                    h2 {{ 'Tokensale progress' | translate }}
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    .widget_summary
                      .w_left
                        strong 0
                      .w_center.w_100
                        .progress
                          .progress-bar.bg-purple(role='progressbar', data-transitiongoal='11652256', aria-valuemin='0', aria-valuemax='15000000') 11,652,256
                        .text-right.softcap {{ 'Softcap' | translate }}
                      .w_right
                        strong  15,000,000
                .x_panel.status
                  .x_title
                    h2 {{ 'Tokensale status' | translate }}
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    .tile_count
                      .col-md-4.col-sm-4.col-xs-12.text-center.tile_stats_count
                        .count
                          i.fa.fa-dollar.purple
                          | 11,652,256 USD
                      .col-md-4.col-sm-4.col-xs-12.text-center.tile_stats_count
                        .count
                          i.fa.fa-diamond.purple
                          |  5,256.356 ETH
                      .col-md-4.col-sm-4.col-xs-12.text-center.tile_stats_count
                        .count
                          i.fa.fa-user.purple
                          |  200
                    .clearfix
                    .currency.tile_count
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/co-dollar.svg', alt='USD')
                        .count 12,562,365
                        span.count_bottom USD
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/btc.jpg', alt='BTC')
                        .count 56.356
                        span.count_bottom BTC
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/ethereum.png', alt='', eth='')
                        .count 259,475,153
                        span.count_bottom ETH
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/dash.png', alt='DASH')
                        .count 1,652,256,356
                        span.count_bottom DASH
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/euro.png', alt='EUR')
                        .count 362,365
                        span.count_bottom EUR
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/litecoin.png', alt='LTC')
                        .count 362,365.256
                        span.count_bottom LTC
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/doge.png', alt='DOGE')
                        .count 9,475,153
                        span.count_bottom DOGE
                      .col-md-3.col-sm-3.col-xs-6.tile_stats_count
                        span.count_top
                          img(src='https://tokensale.snov.io/members/images/waves.svg', alt='WAVES')
                        .count 52,256,356
                        span.count_bottom WAVES
                #calculate.x_panel.calculate
                  .x_title
                    h2 {{ 'Calculate' | translate }}
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    .calculator
                      .left
                        .form-group
                          h5 {{ 'Your buy' | translate }}
                          input#coin-amount.form-control(type='text', value='100 000')
                          label {{ 'Snov tokens' | translate }}
                        a.direction(href='javascript:void(0)', data-direction='right')
                          i.fa.fa-arrow-right(aria-hidden='true')
                      .right
                        .form-group.is-empty
                          h5 {{ 'Your pay' | translate }}
                          input#coin-price.form-control(type='text', value='0.005', disabled='')
                          .btn-group
                            button.btn.btn-dark.dropdown-toggle(data-toggle='dropdown', type='button', aria-expanded='false')
                              a#calculator-currency-btn.btn-select.current-currency(data-code='BTC', href='javascript:void(0)') Ether
                              span.caret
                            ul.dropdown-menu(role='menu')
                              li
                                a.calculator-currency(data-code='BTC', href='javascript:void(0)') Bitcoin
                              li
                                a.calculator-currency(data-code='LTC', href='javascript:void(0)') Litecoin
                              li
                                a.calculator-currency(data-code='DASH', href='javascript:void(0)') Dash
                              li
                                a.calculator-currency(data-code='ETH', href='javascript:void(0)') Ether
                              li
                                a.calculator-currency(data-code='EUR', href='javascript:void(0)') EUR
                              li
                                a.calculator-currency(data-code='USD', href='javascript:void(0)') USD
                              li
                                a.calculator-currency(data-code='DOGE', href='javascript:void(0)') DOGE
                              li
                                a.calculator-currency(data-code='WAVES', href='javascript:void(0)') WAVES
                      .clearfix
                      .total
                        button.btn.btn-lg.btn-theme(type='button', data-toggle='modal', data-target='.bs-buy-modal') {{ 'Buy now' | translate }}
                      .modal.fade.bs-buy-modal(tabindex='-1', role='dialog', aria-hidden='true')
                        .modal-dialog.modal-lg.text-left
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                              h4#myModalLabel.modal-title {{ 'Make a deposit' | translate }}
                            .modal-body
                              .col-md-4.col-sm-4.col-xs-12
                                .bs-wrap
                                  img(src='https://tokensale.snov.io/members/images/qr.jpg', alt='QR code')
                              .col-md-8.col-sm-8.col-xs-12
                                .bs-wrap
                                  h4
                                    strong l6atQTwZjeTP9TiUiVUwR3z0CBN7
                              .col-md-12.col-sm-12.col-xs-12
                                p.lead
                                  | {{ 'Please make sure your deposit equals or exceeds the minimum purchase amount (at the current exchange rate it is 0.012 BTC)' | translate }}
                              .clearfix
                .x_panel.transaction-history
                  .x_title
                    h2 {{ 'Your transaction history' | translate }}
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    #datatable_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                      table#datatable-checkbox.table.table-striped.bulk_action(role='grid', aria-describedby='datatable-checkbox_info')
                        thead
                          tr
                            th {{ 'Date' | translate }}
                            th {{ 'Transaction ID' | translate }}
                            th {{ 'Address Source' | translate }}
                            th {{ 'Snov assigned' | translate }}
                        tbody
                          tr
                            th(scope='row') 09/01/2017 12:53
                            td
                              a(href='#') l6atQTwZjeTP9TiUiVUwR3z0CBN7
                            td G52ZZ9bLbzvs
                            td 0.12
                          tr
                            th(scope='row') 09/01/2017 08:10
                            td
                              a(href='#') i7qtg2tyPHL6IivTuaAAwpRmT7B8
                            td ZFlAPUdnq0ob
                            td 2.44
                          tr
                            th(scope='row') 09/03/2017 07:45
                            td
                              a(href='#') T6XM5Eek58gwpvxkzPhRwasSR7QT
                            td sQimNHZBeYtt
                            td 3.00
                          tr
                            th(scope='row') 08/031/2017 23:15
                            td
                              a(href='#') 9PLOJ967EeCKuQkTjYJZB4WonpZj
                            td 952K8GLGMLKjCHn
                            td 13.00
              .col-md-3.col-sm-3.col-xs-12.sidebar
                .x_panel
                  .x_content.tile_count
                    .tile_stats_count
                      span.count_top {{ 'Token crowdsale pool:' | translate }}
                      .count 1,500,000,000
                    hr
                    .tile_stats_count
                      span.count_top {{ 'Snov token price:' | translate }}
                      .count 0.015 ETH
                  .item
                    table.table.bonuses
                      thead
                        tr
                          th(colspan='2')
                            h4 {{ 'Bonuses:' | translate }}
                      tbody
                        tr
                          td {{ 'First day' | translate }}
                          th.lead.text-right 15%
                        tr
                          td {{ 'First week' | translate }}
                          th.lead.text-right 5%
                  hr
                  .item
                    table.table.personalinfo.no-border
                      tbody
                        tr
                          td {{ 'You contributed' | translate }}
                          th.lead.text-right 12 ETH
                        tr
                          td {{ 'Tokens you hold' | translate }}
                          th.lead.text-right 3
                  a.btn.btn-block.btn-lg.btn-theme(href='index.html#calculate') {{ 'Buy now' | translate }}
                  hr
                  ul.list-inline.social-buttons
                    li
                      a(href='https://t.me/snovio_ico', alt='telegram', title='telegram', target='_blank')
                        i.fa.fa-paper-plane
                    li
                      a(href='https://www.reddit.com/user/Snovio_ICO/', alt='reddit', title='reddit', target='_blank')
                        i.fa.fa-reddit
                    li
                      a(href='https://medium.com/@ico_snovio', alt='medium', title='medium', target='_blank')
                        i.fa.fa-medium
                    li
                      a(href='https://bitcointalk.org/index.php?topic=2111272.0', alt='btc', title='btc', target='_blank')
                        i.fa.fa-btc
                    li
                      a(href='mailto', alt='mail', title='mail', target='_blank')
                        i.fa.fa-envelope
        // /page content
        // footer content
        footer
          .text-center {{ 'Copyright © Snov.io 2017' | translate }}
          .clearfix
        // /footer content
    // jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
    // Bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js')
    // FastClick
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js')
    // NProgress
    script(src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js')
    // bootstrap-progressbar
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.js')
    // iCheck
    script(src='https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js')
    // Chart.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.js')
    // JavaScript countdown
    script(src='https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.1.9/kinetic.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js')
    // Angular
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='https://cdn.rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.min.js')
    script(src='https://root.flyber.net/cdn/flyber-angular.js')
    script(src='https://cdn.jsdelivr.net/ngstorage/0.3.10/ngStorage.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js')
    // Custom Theme Scripts
    script(src='./logic.js')
