doctype html
html(lang='en' ng:app="app" ng:controller="members")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(ng:if="false") Loading...
    title(ng:if="true") {{ 'ICO snovio dashboard ' | translate }}
    // Bootstrap
    include ../common-style
    style 
      include ../style.css
  body.nav-md(ng:class="{visible: true}" ng:controller="confirm")
    .full-container.body
      .main_container
        // top navigation
        .top_nav
          include ../members/nav-menu
        .container(role='main')
          div
            .row
              .col-md-9.col-sm-9.col-xs-12
                .x_panel.counter
                  .x_title
                    h2 {{ 'User Settings' | translate }}
                    .clearfix
                  .x_content
                    #userinfo.animate.form(ng:if="form.confirmed")
                      p
                        {{ 'Your email is confirmed' | translate }}
                      section.well
                        form.form-horizontal
                          .col-md-3.col-sm-3.col-md-offset-4.col-sm-offset-4.col-xs-12
                            a.btn.btn-theme.btn-lg.submit.btn-block(ng:click="goToMembers()") {{ 'Go To Members' | translate }}
                          .clearfix
                    div(ng:hide="form.confirmed")
                        a.btn.btn-default(ng:click="resend()") {{ 'Resend' | translate }}
                    .clearfix
              include ../members/sidebar
        // /page content
        // footer content
        footer
          .text-center {{ 'Copyright © Snovio Ltd. 2017' | translate }}
          .clearfix
        // /footer content
    include ../common
    // Custom Theme Scripts
    script 
       //-include ../common.js
       include ../languages.js
       include ../proofofwork.js
       include ../members/logic.js
       include ./logic.js
