doctype html
html(lang='en' ng:app="app" ng:controller="login")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(ng:if="false") Loading...
    title(ng:if="true") {{ 'Login' | translate }}
    include ../common-style.jade
    style 
      include ../style.css
  body.login(ng:class="{visible: true}")
      a#signup.hiddenanchor
      a#signin.hiddenanchor
      .login_wrapper
        mixin accept-conditions
           .form-group
                .col-md-12.col-sm-12.col-xs-12.text-left
                  .checkbox
                    label
                      input(type='checkbox', value='' ng:model="form.acceptLocation")
                      | {{ 'Check here to confirm that you are not a U.S. citizen, resident or entity (a “U.S. Person”) nor are you obtaining SNOV Tokens or signing on behalf of a U.S. Person.' | translate }}
                .col-md-12.col-sm-12.col-xs-12.text-left
                  .checkbox
                    label
                      input(type='checkbox', value='' ng:model="form.acceptPrivacy")
                      | {{ 'Check here to confirm that you have read, understand and agree to the' | translate }} 
                      a(href='//tokensale.snov.io/disclaimer/') {{ 'Terms of Use' | translate }}
                      |  {{ 'and' | translate }}  
                      a(href='//tokensale.snov.io/privacypolicy/') {{ 'Privacy Policy' | translate }}
                      | .
                .col-md-12.col-sm-12.col-xs-12.text-left
                  .checkbox
                    label
                      input(type='checkbox', value='' ng:model="form.saftAgreement")
                      | {{ 'Check here to confirm that you understand and accept the ' | translate }}
                      a(href="//tokensale.snov.io/saft/")  SAFT agreement.
                .col-md-12.col-sm-12.col-xs-12.text-left
                  .checkbox
                    label
                      input(type='checkbox', value='' ng:model="form.tokenRisks")
                      | {{ 'Check here to confirm that you understand and accept token ' | translate }}
                      a(href="//tokensale.snov.io/risks/")  risks.
                    
                    
        .animate.form.login_form
          section.login_content
            form
              h1 {{ 'Login Form' | translate }}
              div
                input.form-control(type='text', placeholder='Username', required='', ng:model="form.email")
              div
                input.form-control(type='password', placeholder='Password', required='', ng:model="form.password")
              .clearfix.text-left
                a(href='/restore/index.html') {{ 'Lost your password?' | translate }}
                hr
              //-+accept-conditions
              .clearfix
              div
                a.btn.btn-theme.btn-block.btn-lg.submit(href='/members/index.html' ng:click="enter($event)") {{ 'Log in' | translate }}
              .clearfix
              .separator
                p.change_link
                  | {{ 'New to site?' | translate }}
                  a.to_register(href='#signup' ng:click="register(true)")  {{ 'Create Account' | translate }} 
                .clearfix
                br
        #register.animate.form.registration_form
          section.login_content
            form
              h1 {{ 'Create Account' | translate }}
              div
                input.form-control(type='text', placeholder='Username', required='' ng:model="form.username")
              div
                input.form-control(type='email', name='email' placeholder='Email', required='' ng:model="form.email")
              div
                input.form-control(type='password', placeholder='Password', required='' ng:model="form.password")
              +accept-conditions
              .clearfix
              div
                a.btn.btn-theme.btn-block.btn-lg.submit(href='/members/index.html' ng:click="enter($event)") {{ 'Submit' | translate }}
              .clearfix
              .separator
                p.change_link
                  | {{ 'Already a member ?' | translate }}
                  a.to_register(href='#signin' ng:click="register(false)")  {{ 'Log in' | translate }} 
                .clearfix
                br
    include ../common.jade
    script 
      include ../languages.js
      include ../proofofwork.js
      include ./logic.js