link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css')
link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
link(rel='stylesheet prefetch' href="https://cdn.rawgit.com/lipis/bootstrap-sweetalert/master/dist/sweetalert.css")