script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
script(src='https://cdn.rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.min.js')
script(src='https://root.flyber.net/cdn/flyber-angular.js')
script(src='https://cdn.jsdelivr.net/ngstorage/0.3.10/ngStorage.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js')
script(src='https://cdn.rawgit.com/lipis/bootstrap-sweetalert/master/dist/sweetalert.min.js')