script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
script(src='//cdn.rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.min.js')
script(src='//root.flyber.net/cdn/flyber-angular.js')
script(src='//cdn.jsdelivr.net/ngstorage/0.3.10/ngStorage.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js')
script(src='//cdn.rawgit.com/lipis/bootstrap-sweetalert/master/dist/sweetalert.min.js')
script(src='//cdn.rawgit.com/EvanHahn/HumanizeDuration.js/master/humanize-duration.js')
script(src='//cdn.rawgit.com/askucher/6e47a0c63c71423b9320506b684153f5/raw/3a3a8855b5651c9e5c8882ed647bdaab4cd22840/hashcash.js')