doctype html
html(lang='en' ng:app="app"  ng:controller="settings")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(ng:if="false") Loading...
    title(ng:if="true") {{ 'ICO snovio dashboard ' | translate }}
    // Bootstrap
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    // NProgress
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css')
    // Custom ICO Style
    link(rel='stylesheet', href='../style.css')
  body.nav-md(ng:class="{visible: true}")
    .full-container.body
      .main_container
        // top navigation
        .top_nav
          .nav_menu
            nav
              .allert-box
                | {{ 'Thank you for registration. Please' | translate }} 
                a(href='#') {{ 'confirm your email' | translate }}
              a.navbar-brand.page-scroll(href='index.html')
                img.logo(src='https://snov.io/assets/img/logo-white.svg', alt='Snov.io')
              ul.nav.navbar-nav.navbar-right
                li.dropdown.language-picker
                  a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-expanded='false')
                    | {{ 'En' | translate }}
                    span.fa.fa-angle-down
                  ul.dropdown-menu.pull-right
                    li
                      a(href='/ru/') {{ 'Ru' | translate }}
                    li.current
                      a(href='/') {{ 'En' | translate }}
                li
                  a.user-profile.dropdown-toggle(href='', data-toggle='dropdown', aria-expanded='false')
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='/profile')  {{ 'Profile' | translate }}
                    li
                      a(href='/setting') {{ 'Settings' | translate }}
                    li
                      a(href='/login')
                        i.fa.fa-sign-out.pull-right
                        |  {{ 'Log Out' | translate }}
                li.dropdown(role='presentation')
                  a.dropdown-toggle.info-number(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    i.fa.fa-envelope-o
                    span.badge.bg-orange 6
                  ul#menu1.dropdown-menu.list-unstyled.msg_list(role='menu')
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      a
                        span.image
                          img(src='images/picture.jpg', alt='Profile Image')
                        span
                          span {{ 'John Smith' | translate }}
                          span.time {{ '3 mins ago' | translate }}
                        span.message
                          | {{ 'Film festivals used to be do-or-die moments for movie makers. They were where...' | translate }}
                    li
                      .text-center
                        a
                          strong {{ 'See All Alerts' | translate }}
                          i.fa.fa-angle-right
        // /top navigation
        // page content
        .container(role='main')
          div
            .row
              .col-md-9.col-sm-9.col-xs-12
                .x_panel.counter
                  .x_title
                    h2 {{ 'User Settings' | translate }}
                    .clearfix
                  .x_content
                    #userinfo.animate.form
                      p
                        {{ 'You are able to buy SNOV Tokens using BTC, ETH, LTC, DASH, ZEC, ETC, or USD (wire transfer for any amount over $1,000).' | translate }}
                      p
                        {{ 'The calculator is provided for your convenience. You can enter a number of SNOV Tokens you wish to buy and calculate the amount you would need to have in your account wallets.' | translate }}
                      p
                        {{ 'Please note that transfer of funds to your account wallets does not constitute a purchase of the SNOV Tokens. After the funds are deposited, you would need to complete Step 3 to purchase the required number of SNOV tokens with the deposited funds.' | translate }}
                      p
                        {{ 'If you are purchasing SNOV Tokens with any currency other than BTC, please note that price of SNOV Tokens would be calculated at the time of actual purchase of the SNOV Tokens and not at the time of transfer of the funds to your account wallets.' | translate }}
                      section.well
                        form.form-horizontal
                          .form-group
                            label.control-label.col-md-4.col-sm-4.col-xs-12(for='wallet') {{ 'Enter your ETH wallet number' | translate }}
                            .col-md-6.col-sm-6.col-xs-12
                              input#wallet.form-control.col-md-7.col-xs-12(type='text', required='', placeholder='')
                          .col-md-3.col-sm-3.col-md-offset-4.col-sm-offset-4.col-xs-12
                            a.btn.btn-theme.btn-lg.submit.btn-block(href='#') {{ 'Confirm' | translate }}
                          .clearfix
                    .clearfix
              .col-md-3.col-sm-3.col-xs-12.sidebar
                .x_panel
                  .x_content.tile_count
                    .tile_stats_count
                      span.count_top {{ 'Token crowdsale pool:' | translate }}
                      .count 1,500,000,000
                    hr
                    .tile_stats_count
                      span.count_top {{ 'Snov token price:' | translate }}
                      .count 0.015 ETH
                  .item
                    table.table.bonuses
                      thead
                        tr
                          th(colspan='2')
                            h4 {{ 'Bonuses:' | translate }}
                      tbody
                        tr
                          td {{ 'First day' | translate }}
                          th.lead.text-right 15%
                        tr
                          td {{ 'First week' | translate }}
                          th.lead.text-right 5%
                  hr
                  .item
                    table.table.personalinfo.no-border
                      tbody
                        tr
                          td {{ 'You contributed' | translate }}
                          th.lead.text-right 12 ETH
                        tr
                          td {{ 'Tokens you hold' | translate }}
                          th.lead.text-right 3
                  a.btn.btn-block.btn-lg.btn-theme(href='/members/#calculate') {{ 'Buy now' | translate }}
                  hr
                  ul.list-inline.social-buttons
                    li
                      a(href='https://t.me/snovio_ico', alt='telegram', title='telegram', target='_blank')
                        i.fa.fa-paper-plane
                    li
                      a(href='https://www.reddit.com/user/Snovio_ICO/', alt='reddit', title='reddit', target='_blank')
                        i.fa.fa-reddit
                    li
                      a(href='https://medium.com/@ico_snovio', alt='medium', title='medium', target='_blank')
                        i.fa.fa-medium
                    li
                      a(href='https://bitcointalk.org/index.php?topic=2111272.0', alt='btc', title='btc', target='_blank')
                        i.fa.fa-btc
                    li
                      a(href='mailto', alt='mail', title='mail', target='_blank')
                        i.fa.fa-envelope
        // /page content
        // footer content
        footer
          .text-center {{ 'Copyright © Snov.io 2017' | translate }}
          .clearfix
        // /footer content
    // jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
    // Bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    // FastClick
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
    // NProgress
    script(src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js')
    // bootstrap-progressbar
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js')
    // iCheck
    script(src='https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js')
    // Chart.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js')
    // JavaScript countdown
    script(src='https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js')
    // Angular
    include ../common.jade
    // Custom Theme Scripts
    script(src='../common.js')
    script(src='logic.js')
